<h1> <center> <font color='blue'> Python Sequence Data Types </font> </center> </h1>

<h1><font color='red'> Lists </font> </h2>

In [2]:
a = [1,2,3,1.3,'Python']  # Lists can have different data types
print(a)

[1, 2, 3, 1.3, 'Python']

In [3]:
x1 = a[0]  # first element notice the zero index
x3 = a[2]  # To obtain the 3rd element we shall denote index = 2 (why?)
print('The first and 3rd elements of a are:',x1, ' and ',x3)

The first and 3rd elements of a are: 1  and  3

In [4]:
len(a) "length of a" notice there are 5 elements

5

In [7]:
# b is a list of lists
b = [[1,2],[3,4],[4,3]]  # A list can be nested

In [8]:
b[2]  # get second element of list b

[4, 3]

In [9]:
b[2][0]  # get the first sub-element (index = 0) of the third element of b (index=2)

4

<h2><font color='red'> Tuples </font> </h2>

In [12]:
c = (1,)  # This is a tuple with 1 element and a trailing comma
type(c)

tuple

In [13]:
d = (1,1.2,'Python') # Tuples can contain multiple data types
print(d)

(1, 1.2, 'Python')

In [14]:
e = ((1,2),(2,3)) # A nested tuple

In [15]:
# Print 1st elements from a nested tuple
f1 = e[0][0]
f2 = e[1][0]
print('The first elements of the nested tuple are:',f1, 'and', f2)

The first elements of the nested tuple are: 1 and 2

In [18]:
d = (1,2,3)
d[0] = 2

TypeError: 'tuple' object does not support item assignment

(1, 2, 3, 4)

<h2> <font color='red'> Strings </font> </h2>

In [20]:
a = str('String')  # Explicit definition of string using str function
print(a)

String

In [22]:
a = 'String1'  # Implicit definition of string using ''
print(a)

String1

In [35]:
a = 'six string'
a[2] # extract an element

'x'

In [33]:
a[3] # Notice spaces are also elements

' '

In [37]:
a[0] = 'F'

TypeError: 'str' object does not support item assignment

<h2><font color='red'> Nested List of Strings </font></h2>

In [1]:
txt = ['I',"Love","Python"]

In [2]:
txt[1]  # extract 1st element of the list

'Love'

In [3]:
txt[1][2] # each element is a sequence so extract 2nd sub-element of 1st element

'v'